/*
Theme Name: Grosso General Contracting
Description: A simple responsive theme based on the Bootstrap framework. Includes multiple page templates, two different sidebars and a theme options panel.
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

/* HEADS UP: Everything that you will normally find here can be found in the library/less/wp.less */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Allura);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:antialiased;
	color: #696969;
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}

a:hover {
	text-decoration: none;
	outline: none;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#main h1,
#main h2,
#main h3 {
	margin-bottom: 20px;
}

#sidebar p,
#main p {
	margin: 0 0 20px;
}

#main ul, #main ol {
	margin-bottom: 20px;	
}

#main article img {
	width: 100%;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#main article img.alignleft {
	width: auto;
}

#main article.service img {
	background-color: #fff;
	-moz-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	-webkit-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	box-shadow: 2px 3px 2px rgba(3,3,3,.31);
}

#header {
	padding: 30px 0;
	-moz-box-shadow: 0 3px 2px rgba(3,3,3,.17);
	-webkit-box-shadow: 0 3px 2px rgba(3,3,3,.17);
	box-shadow: 0 3px 2px rgba(3,3,3,.17);
}

#logo {
	background: url(images/logo.png) no-repeat;
	width: 323px;
	height: 82px;
	padding: 0;
	line-height: normal;
	text-indent: -99999px;
	margin: 14px 0;
}

.container {
	padding: 0;
	/*max-width: 970px;*/
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.navbar-nav {
	float: right;
}

.navbar-collapse {
	padding: 0;
}

.estimates {
	font-weight: bold;
	text-transform: uppercase;
	color: #3a3a3a;
	font-size: 24px;
	margin-bottom: 15px;
}

.estimates span {
	color: #1857a5;	
	font-size: 14px;
}

.nav > li > a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #e1e1e1;
	-moz-box-shadow: inset 2px 3px 2px rgba(3,3,3,.08);
	-webkit-box-shadow: inset 2px 3px 2px rgba(3,3,3,.08);
	box-shadow: inset 2px 3px 2px rgba(3,3,3,.08);
	padding: 5px 13px;
	margin-left: 13px;
	color: #3a3a3a;
	font-weight: bold;
}

.nav > li.active > a,
.nav > li > a:hover, 
.nav > li > a:focus {
	color: #1857a5;
	text-decoration: none;
	background-color: #e1e1e1;
}

.nav > li.contact > a {
	background-color: #4d8bd9;
	color: #fff;
}

.nav > li.contact.active > a,
.nav > li.contact > a:hover, 
.nav > li.contact > a:focus {
	color: #3a3a3a;
}

.navbar-form.navbar-right:last-child,
.navbar-form {
	padding: 0;
	margin: 15px 0 0 0;
}

#header #s {
	width: 213px;
	height: 30px;
	background: url(images/ico-search.png) no-repeat 97%;
	padding-right: 30px;
	background-color: #fff;
	-moz-box-shadow: inset 0 0 5px #e1e1e1;
	-webkit-box-shadow: inset 0 0 5px #e1e1e1;
	box-shadow: inset 0 0 5px #e1e1e1;
	color: #5a5a5a;
	font-size: 12px;
}

#banner .metaslider .caption-wrap {
	bottom: auto;
	left: auto;
	top: 20%;
	right: 17%;
	background: transparent;
	line-height: normal;
	opacity: 1;
	width: auto;
}

#banner .metaslider .caption {
	padding: 0;
	font-family: 'Allura', cursive;
	color: #fff;
	font-size: 80px;
	text-shadow: 1px 2px 7px #020303;
}

#subhead {
	color: #69696a;
	font-size: 16px;
	text-align: center;
	padding: 30px 0;
}

.subtitle {
	font-size: 40px;
}

#subhead .subtitle {
	padding: 0;
	margin: 0;
}

#content {
 padding: 30px 0;
}

.page #main article {
	margin-bottom: 0;
	border-bottom: none;
	padding: 0;
	border-bottom-color: #e1e1e1;
}

.post #main article {
	border-bottom-color: #e1e1e1;
}

.home #services {
	background: url(images/bg_services.jpg) no-repeat;
	background-size: cover;
	padding: 15px 0 30px;
}

.home .service {
	background: url(images/service_bg_additions.jpg) no-repeat left center;
	background-size: cover;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	-webkit-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	min-height: 130px;
	width: 100%;
	position: relative;
	margin: 17px 0 0;
}

.home .service .title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	zoom: 1;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.post-title {
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
	fon
}

.title {
	color: #1957a5;
}

.servicez h4,
#recent_works h4 {
	color: #393939;
	font-weight: bold;
}

#recent_works img {
	width: 100%;
	height: auto;
}

#recent_works .work {
	padding-bottom: 30px;
}

#recent_works2 {
	visibility: hidden;
	position: absolute;
	z-index: -99;
	top: -99999px;
}

.servicez {
	margin-bottom: 15px;
}

.servicez .image img {
	-moz-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	-webkit-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	box-shadow: 2px 3px 2px rgba(3,3,3,.31);
}

.servicez .stitle {
	margin-top: 0;
}

.servicez .content {
	max-height: 80px;
	overflow: hidden;
}

.more-link {
	display: none;
}

.servicez .readmore {
	display: inline-block;
	margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #e1e1e1;
	padding: 7px 30px;
	color: #393939;
}

.page-template-page-gallery-php #inner-content {
	background: url(images/bg_gallery.jpg) no-repeat left top;
	background-size: cover;
	padding: 30px 0;
}

.page-template-page-gallery-php #main {
	padding: 0;
}

.page-template-page-gallery-php #inner-content img {
	
}

#footer {
	background: url(images/pattern_ftr.jpg);
}

#upper-footer {
	background: url(images/upper_footer_bg_logo.png) no-repeat left top;
	padding: 30px 0;
	color: #fff;	
}

#upper-footer .sponsor,
#upper-footer .testimonial,
#upper-footer .testimonials h3 {
	margin-bottom: 30px;
}

#upper-footer .testimonial {
	position: relative;
}

#upper-footer .testi-arrow {
	position: absolute;
	background: url(images/testimonials_arrow.png) no-repeat;
	left: 20px;
	bottom: 21px;
	width: 39px;
	height: 17px;
}

#upper-footer .inner-testi {
	/*width: 454px;
	height: 93px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #1757a5;
	-moz-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	-webkit-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	font-size: 16px;
	font-style: italic;
	padding: 15px 40px 25px;
	position: relative;
	margin-bottom: 15px;
}

#upper-footer .qafter,
#upper-footer .qbefore {
	background: url(images/quotes.png) no-repeat left top;
	width: 20px;
	height: 20px;
	position: absolute;
}

#upper-footer .qbefore {
	top: 15px;
	left: 15px
}

#upper-footer .qafter {
	background: url(images/quotes.png) no-repeat right bottom;
	bottom: 15px;
	right: 15px
}

#upper-footer .sponsor {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	-webkit-box-shadow: 2px 3px 2px rgba(3,3,3,.31);
	box-shadow: 2px 3px 2px rgba(3,3,3,.31);	
	color: #000;
	padding: 15px 15px 30px;
}

#upper-footer .sponsor h4 {
	color: #696969;
	font-weight: bold;
	margin: 0 0 15px;
}

#upper-footer .logo {
	width: 47%;
	margin: 0 1.2%;
	display: inline-block;
}

#upper-footer .logo img {
	width: 100%;
	height: auto;
}

#lower-footer {
	background-color: #1757a5;
	padding: 15px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

#lower-footer .address p {
	margin: 5px 0 0; 
}

#lower-footer .address p:first-child {
	margin-top: 0;
}

#lower-footer .connect .widget_cnss_widget {
	text-align: right;
}

#lower-footer .connect .cnss-social-icon {
	float: right;
}

#lower-footer .connect .cnss-social-icon td {
	vertical-align: middle;
}

#lower-footer .connect .cnss-social-icon a img {
	width: auto;
	height: auto;
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

@media all and (max-width: 765px) {
	#lower-footer,
	#lower-footer .connect .widget_cnss_widget {
		text-align: center;
		margin-top: 10px;
	}

	#lower-footer .connect .cnss-social-icon {
		float: none;
		margin: 0 auto !important;
	}	
}

