body {
	background-color: #FFFFFF;
	
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 1em;
	color: #464646;
	font-weight: 200;
}

.main_box {
	max-width: 800px;
	margin: 10px;
	padding: 0px;
	border: 1px solid #D6D6D6;
	background: #FFFFFF;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.main_box_head {
	background: #F5F5F5;
	padding: 15px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	font-size: 1.43em;
	border-bottom: 1px solid #D6D6D6;
}

.main_box_foot {
	padding: 10px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	border-top: 1px solid #D6D6D6;
	text-align: right;
}

.wrap {
	margin-top: 10px;
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.error, .updated {
	font-size: 0.8em;
}
.error p, .updated p {
	margin: 0;
	padding: 0;
}

#importbuddy_status {
	border: 0px;
	margin: -15px;
	margin-bottom: 0px;
	width: 100%;
	max-width: 740px;
	height: 200px;
}
div.error {
	background-color: #ffebe8;
	border-color: #c00;
}







.step_number {
	color: #C74635;
	font-weight: bold;
}
.backup_select_text {
	margin-bottom: 12px;
}
.footer_text {
	font-size: 0.8em;
}
.footer {
	clear: both;
	margin-top: 125px;
	margin-bottom: 50px;
}













.updated,.error {
	background-color:#FFFFE0;
	border: 1px solid #E6DB55;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}
a {
	color: #21759B;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
.widefat {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 0;
    width: 100%;
	background-color: #FFFFFF;
    border-color: #DFDFDF;
}
.widefat td, .widefat th {
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 11px;
	border-color: #DFDFDF;
}
.widefat th {
	background: url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	color: #333333;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	line-height: 1.3em;
    padding: 7px 7px 8px;
    text-align: left;
}
.widefat td {
	padding: 3px 7px;
    vertical-align: top;
}
h1 {
	color: #464646;
	font-size: 24px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style: italic;
	margin-top: 0px;
}
h2 {
	color: #464646;
	font-size: 20px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style: italic;
	margin-top: -10px;
}
h3 {
	font-size: 1.2em;
	font-weight: 200;
}
img {
	vertical-align: -2px;
}
th {
	font-weight: normal;
}
.menu {
	padding: 8px;
	text-align: center;
	background-color: #CCCCCC;
	font-weight: bold;
}
input[type="text"], input[type="password"], textarea {
	margin: 3px;
	padding: 8px;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: #DFDFDF;
	
	font-size: 1.2em;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-weight: 200;
}
textarea {
	font-family: sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	color: #464646;
}
.button,.button-primary {
	margin-left: auto;
	margin-right: auto;
	
	background:url("../images/bluebutton.jpg") repeat-x scroll left top #21759B;
	border-color:#298CBA;
	color:#FFFFFF;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-sizing:content-box;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	line-height:14px;
	text-decoration:none;
	
	padding: 8px;
	padding-left: 14px;
	padding-right: 14px;
	
	font-size: 1.2em;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-weight: 200;
}
.button:hover,.button-primary:hover {
	border-color: #13455B;
	color: #FFFFFF;
	text-decoration: none;
}
.button_disabled {
	color: #AAAAAA;
}
.button-secondary {
	background:url("../images/white-grad.png") repeat-x scroll left top;
	border-color:#BBBBBB;
	color:#464646;
	-moz-border-radius:11px 11px 11px 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing:content-box;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	font-size:11px !important;
	line-height:14px;
	padding:2px 8px;
	text-decoration:none;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:13px;
}
.button_disabled:hover {
	color: #AAAAAA;
}
.button-secondary:hover {
	border-color: #13455B;
}
.button-tertiary {
	color: #111111;
	background: #EFEFEF;
	border: 1px solid #d6d6d6;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.button-tertiary:hover {
	color: #000000;
}
label {
	float: left;
	width: 200px;
	margin-top: 7px;
}
.toggle {
	cursor: pointer;
}
.toggled {
	display: none;
	border: 1px solid #CCCCCC;
	margin: 4px;
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tooltip {
	position: absolute;
	z-index: 12000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	max-width: 300px;
	opacity: 0.85;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#tooltip h3, #tooltip div { margin: 0; }
.light {
	color: #AFAFAF;
}
#pb_importbuddy_working {
	text-align: center;
	padding-top: 20px;
}



hr {
	border-top: 1px dotted #D6D6D6;
	border-bottom: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}



/* Tabs
----------------------------------*/
.ui-tabs {
	border-top: 1px solid #DFDFDF;
	margin-top: 20px;
	font-size: 1.3em;
} /* padding: .2em; zoom: 1; */
.ui-tabs .ui-tabs-nav {
	z-index: 15;
	list-style: none;
	position: relative;
	padding: 0px 0px 0px;
	margin-top: -15px;
	margin-left: 10px;
}
.ui-tabs .ui-tabs-nav li { margin: -25px 3px -1px 0px; position: relative; float: left; padding: 0; text-align: center; }
.ui-tabs .ui-tabs-nav li a {
	color: #53575D;
	height: 34px;
	float: left;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border: 1px solid #DFDFDF;
	border-bottom: 0px solid red;
	outline: none;
	padding-top: 5px;
}
.ui-tabs .ui-tabs-nav li a:hover { background-color: #F5F5F5; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {  } /* padding-bottom: 0px; */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	height: 34px;
	cursor: text;
	background-color: #FFFFFF;
	border-bottom: 0px;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding-top: 3px; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.tabs-item {
	//padding-left: 16px;
	padding-top: 16px;
	//padding-top: 28px;
	//padding-bottom: 28px;
	background: #FFFFFF;
	font-size: 16px;
}

.description {
	font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #666666;
}


.modal {
	width: 700px;
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #D6D6D6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	padding: 0px;
	height: 100%;
	overflow: scroll;
}
.modal_header {
	background: whiteSmoke;
	padding: 20px;
	border-bottom: 1px solid #D6D6D6;
}
.modal_header h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	font-size: 1.43em;
	font-style: normal;
	margin-bottom: 4px;
}
.modal_close {
	float: right;
	color: #000000;
	cursor: pointer;
	
	position: absolute;
	right: 10px;
	top: 10px;
}
.modal_content {
	padding: 20px;
	
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#pb_createdb_modal {
	height: 85%;
	overflow: auto;
}



.pb_label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pb_label {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
}
.pb_label-success {
	background-color: #468847;
}
.pb_label-warning {
	background-color: #F89406;
}
.pb_label-important {
	background-color: #dd4542; //#B94A48;
}
.pb_label-info {
	background-color: #3A87AD;
}
.pb_label-inverse {
	background-color: #333;
}

.expander:hover {
	text-decoration: none;
}
.expander-box {
	padding-bottom: 6px;
}
.expander-box .content {
	padding: 10px;
	margin-left: 4px;
}
.expander.collapsed {
	padding-left: 13px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/collapsed.gif);
}
.expander.expanded {
	padding-left: 13px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/expanded.gif);
}